.a{
	background: #dba872;
	height: 1500px;
	font-family: Times New Roman;
	border-style: outset;
	color: black;
}
.b{
	background: #FFFCCF;
	height: 250px;
	font-family: Times New Roman;
	color: black;

	
}